{% load static %}
<!DOCTYPE html>
<head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta charset=""utf-8>
    <title>Login / Sign Up Form</title>
   
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        <form class="form" id="login" method="post" action="login">
            <h1 class="form__title">Login</h1>
            <div class="form__message form__message--error"></div>
            {% csrf_token %}
            <div class="form__input-group">
                <input type="text" class="form__input" name="username" autofocus placeholder="Username">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" name="password" autofocus placeholder="password">
                <div class="form__input-error-message"></div>
            </div>
            <button  class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a href="#" class="form__link">Forgot your password?</a>
            </p>
            <p class="form__text">
             <a class="form__link"  href="{% url 'createAccount'%}" id="linkCreateAccount">Don't have an account?Create account</a>  
            </p>
        </form>

    </div>
    <script src="{% static 'js/main.js' %}"></script>

    <div>
        {% for message in messages%}
        <h3> {{message}} </h3>
        {% endfor%}
</div>
</body>
    